@charset "UTF-8";
body {
    background-image: linear-gradient(to right,#404B61,  #3467C7);
    font-size: 17pt;
    text-align: center;
}
h1 {
    background-color: #2C2E33;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 40%;
    color: #0F61FA;
    box-shadow: 4px 5px 3px black;
}
p {
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
hr {
    height: 30px;
    background-color: #2C2E33;
    border-style: none;
}
ol {
    padding-top: 1%;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    text-shadow: 0px 2px 3px black;
}
ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    padding-top: 3%;
    padding-right: 4%;
    padding-left: 4%;
}
button {
    background-color: #2C2E33;
    height: 40px;
    padding-left: 3%;
    padding-right: 3%;
    border-style: dotted;
    border-radius: 10%;
    box-shadow: 4px 5px 4px black ;
}
a {
    text-decoration: none;
    color: #0F61FA;
}
a.A {
    text-decoration: none;
    color: #2C2E33;
    padding: 10%;
}